/* custom styles Â©Â Singlebrook Technology, Inc.  */

@import url("reset.css");
@import url("grid.css");


/* ----- header styles ----- */

/* ----- end header styles ----- */

/* ----- content styles ------ */

/* ----- end content styles ------ */



/* ----- footer styles ------ */


/* ----- end footer styles ------ */


/* ----- dropdown styles ----- */


         
    /* this is the parent menu */

body, html {
background: #F1EEE5;
 font-family: helvetica,arial,sans-serif;
 color: #55514b;
    overflow-x: hidden;

}


a {
color: #B31B1B;
font-weight: bold;
outline: none;
}

a:hover {
color: #767368;
text-decoration: none;
}

small {
font-size: 11px;
color: #777570;
display: block;
margin-bottom: 15px;
}

small a {
color: #777570;
font-weight: normal;
}

p {
margin-bottom: 1.5em;
line-height: 1.5;
}

 #cornellhead {
 background: #b31b1b;
 height: 76px;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 4;
 border-bottom: 1px solid #791213;
 font-size: 10px;
 font-family: verdana,arial,helvetica,sans-serif;
 }
 
 

#cu-logo {
    background: url("images/cu_logo.gif") no-repeat scroll left top transparent;
    margin: 0 auto;
    width: 960px;
} 

#cu-logo a {
    background: url("images/cu_logo.gif") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    height: 75px;
    width: 240px;
}

#cu-logo img {
    display: none;
}

#search-form {
    margin-right: -475px;
    position: absolute;
    right: 50%;
    top: 18px;
}

#search-form form {
    margin: 0;
    padding: 0;
    text-align: right;
}
#search-form form {
    text-align: right;
}
 
 #search-form label {
    color: #FFFFFF;
}
 
#search-form-query {
    background: url("http://cornelllogo.cornell.edu/templates/templates/75/red/images/layout/header_search.gif") no-repeat scroll left top #990F0F;
    border: medium none;
    color: #FFFFFF;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 3px;
    vertical-align: middle;
    width: 145px;
} 

#search-form-submit {
    background: none repeat scroll 0 0 #990000;
    border-color: #BF6060 #400606 #400606 #BF6060;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 0 2px 3px;
    vertical-align: middle;
}



#search-filters {
    margin: 5px 0 0;
}


#search-filters input {
    margin: 0;
    vertical-align: middle;
}

#search-filters label {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#search-form a {
    border-bottom: 1px solid #CE7F7F;
    color: #FFFFFF;
}

 #header {
 border-top: 1px solid #88857f;
border-bottom: 1px solid #49463f;
background: #5d5952; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#605c54', endColorstr='#5b574f'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#605c54), to(#5b574f)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #605c54,  #5b574f); /* for firefox 3.6+ */	
position: fixed;
top: 77px;
left: 0px;
right: 0px;
height: 36px;
z-index: 3;
  -moz-box-shadow: 0 0 15px #000;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
 }
 
 a.video img {
   -moz-box-shadow: 0 0 7px #000;
  -webkit-box-shadow: 0 0 7px #000;
  box-shadow: 0 0 7px #000;
 float: left;
 margin-right: 15px;
 }
 
 a.video {
 text-decoration: none !important;
 }
 
 a.video h2 {
 font-family: helvetica, arial, sans-serif;
 font-size: 13px;
 text-transform: capitalize;
 font-weight: bold;
 letter-spacing: 0px;
 background: url(images/cornell-videoicon.png) no-repeat 127px 0;
 padding: 0 0 0 151px;
 margin-bottom: 5px !important;
 }
 
 
  a.video:hover h2 {
  background: url(images/cornell-videoicon.png) no-repeat 127px -50px;
  }
 
 a.video p {
 font-weight: normal;
 color: #55514B;
 font-size: 12px;
 }
 
 
 
 
 #nav {
 padding: 8px 0;
 text-align: center;
 width: 980px;
 }
 
 #logo {
 position: fixed;
 z-index: 7;
 top: 84px;
 left: 50%;
 margin-left: -86px;

 }
 
 #socialfooter {
 position: fixed;
 z-index: 5;
 bottom: 5px;
 right: 10px;
 text-align: right;
 width: 100px;
 }
 
 #socialfooter iframe {
 margin: 0 0 10px;
 }
 
 #nav li {
 display: inline;
 margin: 0 20px;

 }
 
 h1 a, h2 a, h3 a {
 font-weight: normal;
 }

 h1, h2, h3, h4, #nav { font-family: 'Oswald', arial, serif; text-transform: uppercase; font-weight:  normal;font-smooth:always; line-height: 1.15;}

#nav a {
text-decoration: none;
}

.fixed {
    position: fixed;
    top: 0;
}

h5 {
margin-bottom: 8px;
}

#nav li a {
color: #8c8a84;
text-shadow: 0 -1px 0px #35342f;
font-size: 15px;
outline: none;
position: relative;
font-weight: normal;
}

#content .container_12 {
padding-top: 114px;
padding-bottom: 50px;
min-height: 600px;
height: 100%;
}

li.logospace {
display: inline-block !important;
width: 100px;
}

#nav li a:hover {
color: #a9a7a3;
}

#nav li a.active {
color: #F1EEE5;
}

#nav li a:active {
bottom: -1px;
color: #F1EEE5;
}

.calltoaction {
background: #e1dfd7; /* for non-css3 browsers */

min-height: 70px;
height: 100%;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border-top: 1px solid #FFF;
  -moz-box-shadow: 0 1px 0 #b9b6aa;
  -webkit-box-shadow: 0 1px 0 #b9b6aa;
  box-shadow: 0 1px 0 #b9b6aa;
  margin: 15px 0;
  text-shadow: 0 1px 0px #FFFFFF;
padding: 20px 35px 20px 160px;

}

.calltoaction p {
font-size: 11px;
color: #46433a;
line-height: 1.5;
margin-bottom: 0;
}


#news .calltoaction {
background-image: url("images/cornell-sprite.png");
background-repeat: no-repeat;
background-position: 0px -747px;
min-height: 40px;
height: 100%;
padding:23px 20px 20px 102px;
position: relative;
}

.ezracover {
position: absolute;
left: 157px;
top: -7px;
width: 77px;
height: 100px;
 -moz-box-shadow: 0 0 8px #88867D;
  -webkit-box-shadow: 0 0 8px #88867D;
  box-shadow: 0 0 8px #88867D;
  text-indent: -999em;
  background: url("images/ezra-cover.jpg") no-repeat 0 0;
}

h5 {
}

.alpha {
clear: both;
}

.overview {
text-shadow: 0 1px 0px #FFFFFF;

}


h1 {
font-size: 56px;
color: #a4a29f;
letter-spacing: -2px;
}

.overview p {
color: #777570;
font-style: italic;
font-size: 13px;
line-height: 1.5;
}

h1 {
padding-bottom: 50px;
}

#explore h1,  #connect h1 {
padding-top: 100px;
}

 #events h1 {
 padding-top: 150px;
 }
 
#news h1 {
padding-top: 130px;
}

#collaborations h1 {
font-size: 27px;
letter-spacing: -1px;
padding-top: 185px;
padding-bottom: 35px;
}

#explore .map {
position: relative;
background: url("images/shadow-left.jpg") no-repeat 0 50%;

}

#mapdesc {
margin-left: -15px;
width: 235px;
}

#mapdesc h2 a {
text-decoration: none;
}

#news .grid_9 {
position: relative;
background: url("images/shadow-right.jpg") no-repeat 100% 50%;

}

#collaborations .overview {
width: 215px;
}

#collaborations .alpha, #collaborations .omega {
width: 350px;
min-height: 600px;
height: 100%;
}

#collaborations .grid_4.alpha {
background: url("images/shadow-right.jpg") no-repeat 100% 50%;

}
#collaborations .grid_4.omega {
background: url("images/shadow-left.jpg") no-repeat 0 50%;
}

.tickets {
background: url("images/shadow-left.jpg") no-repeat 0 50%;
min-height: 500px;
height: 100%;
padding-left: 35px;
width: 685px !important;
}

#map {
background: url("images/cornellNYCmap.jpg") no-repeat 0 0;
margin-left: 40px;
width: 439px;
position: relative;
height: 552px;
}



/* ----------- map pins ------------------ */
/* ----------- map pins ------------------ */
/* ----------- map pins ------------------ */


a.pin {
display: block;
width: 11px;
height: 11px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background: white;
border: 2px solid white;



  -moz-box-shadow: 0 0 8px #333333;
  -webkit-box-shadow: 0 0 8px #333333;
  box-shadow: 0 0 8px #333333;
  text-indent: -333em;
  position: absolute;
  
  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67ddf5', endColorstr='#3bb5e7'); 
background: -webkit-gradient(linear, left top, left bottom, from(#67ddf5), to(#3bb5e7));
background: -moz-linear-gradient(top,  #67ddf5,  #3bb5e7); 
}




a.pin:hover, a.pin.hover, a.pin.active {
width: 15px;
height: 15px;
margin: -2px -3px 0 0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
cursor: pointer;
border: 3px solid white;


}

.pin.tech {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fccf00', endColorstr='#f6aa2c'); 
background: -webkit-gradient(linear, left top, left bottom, from(#fccf00), to(#f6aa2c));
background: -moz-linear-gradient(top,  #fccf00,  #f6aa2c); 
}

 a.pin.active{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd3535', endColorstr='#950202'); 
background: -webkit-gradient(linear, left top, left bottom, from(#cd3535), to(#950202));
background: -moz-linear-gradient(top,  #cd3535,  #950202); 
cursor: default;
}


.weill {
top: 80px;
right: 178px;
}

.pin {
z-index: 1;
}

.pin.active, a.pin:hover {
z-index: 2;
}



.weillgrad {
top: 78px;
right: 190px;
}

.comm {
right: 231px;
top: 141px;
}

.alumni {
right: 220px;
top: 144px;
}

.club {
right: 263px;
top:166px;
}

.cce {
right: 265px;
top:213px;
}

.ilr {
right: 287px;
top: 206px;
}

.aap {
right: 322px;
top: 247px;
}

.fineng {
right: 291px;
top: 436px;
}

.google {
right: 362px;
top: 255px;
}

.roosevelt {
right: 152px;
top: 151px;
}

.brooklyn {
right: 122px;
bottom: 91px;
}


.governors {
bottom: 38px;
right: 222px;
}

.staten {
bottom: 13px;
right: 265px;
}





/* ----------- map pins ------------------ */
/* ----------- map pins ------------------ */
/* ----------- map pins ------------------ */

.overview #randomexplore p{
font-size: 11px;
}

#randomexplore strong {
color: #46433a;
font-weight: bold;
}

#randomexplore {
height: auto;
margin-bottom: 15px;
}

 
 div.location {
padding-top: 80px;
  text-shadow: 0 1px 0px #FFFFFF;

 }
 
 .location h2 {
 font-size: 32px;
 margin-bottom: 22px;
 letter-spacing: -1px;
 }
 
 p.address {
 text-transform: uppercase;
 color: #5d5952;
 font-weight: bold;
 letter-spacing: 1px;
 font-size: 10px;
 line-height: 1.35;
 margin-bottom: 18px;
 }
 
 p.address img {
 float: left;
 margin: 0 10px 10px 0;
 }
 
 
 .infoslides {
 clear: both;
 font-size: 13px;
 }
 
 #news .grid_9 {
  margin-top: 70px;
 min-height: 400px;
 height: 100%;
 }
 
 .technews {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
  -moz-box-shadow: 0 2px 8px #b1afa8;
  -webkit-box-shadow: 0 2px 8px #b1afa8;
  box-shadow: 0 2px 8px #b1afa8;
 height: 125px;
 width: 640px;
 background: white;
 overflow: hidden;
 margin-bottom: 45px;
 }
 
 a.newslink {
 display: block;
 padding: 25px 20px;
 background: #B31B1B;
-webkit-border-top-left-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
color: #f0eee4;
height: 75px;
float: left;
width: 140px;
text-decoration: none;
text-shadow: 0 -1px 0px #7d1515;
 }
 
 a.newslink h5 {
 font-size: 13px;
 text-decoration: none;
 }
 
 /*a.newslink:hover {
 background: #5E5A52;
 text-shadow: 0 -1px 0px #222;

 }*/
 
 a.newslink p {
 font-size: 11px;
 font-weight: normal;
 }
 
 a.storythumb img{
 float: left;
 padding-right: 20px;
 }
 
  a.storythumb h2 {
  padding: 20px;
  font-size: 25px;
  }
  
  a.storythumb:hover {
  color: #5E5A52;
  }
  
  .nycmedia, .chronicle {
   text-shadow: 0 1px 0px #fff;
  }
  
  .chronicle img {
  margin: 0 20px 20px 0;
  float: left;
  height: 85px;
  width: 85px;
  -moz-box-shadow: 0 1px 5px #88867d;
  -webkit-box-shadow: 0 1px 5px #88867d;
  box-shadow: 0 1px 5px #88867d;
  }
  
  a.chroniclethumb {
  padding-right: 60px;
  display: block;
  text-decoration: none;
  font-size: 20px;
  min-height: 100px;
  height: 100%;
  clear: left;
  margin-bottom: 20px;
  }
  
  
  
  a.chroniclethumb h2 {
    line-height: 1.35;

  }
  
   h5 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  }
  
  .calltoaction h5 {
  margin-bottom: 10px;
  }
  
  .nycmedia a {
  font-size: 13px;
  }
  
  .nycmedia p {
  font-size: 10px;
  color: #777570;
  }
  
  .collaborations, .partnerships {
  padding-top: 60px;
  }
  
  .collaborations a, .partnerships a {
  background: #e4e2da; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e2da', endColorstr='#dcdad1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#e4e2da), to(#dcdad1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #e4e2da,  #dcdad1); /* for firefox 3.6+ */	
display: block;
min-height: 30px;
padding: 20px;
border-top: 1px solid #FFF;
  -moz-box-shadow: 0 1px 0 #b9b6aa;
  -webkit-box-shadow: 0 1px 0 #b9b6aa;
  box-shadow: 0 1px 0 #b9b6aa;
  width: 255px;
  text-decoration: none;
  -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
   text-shadow: 0 1px 0px #fff;
   outline: none;
   margin-bottom: 20px;
  }
  
  .partnerships a {
  margin-left: 55px;
  }
  
  .collaborations a h5, .partnerships a h5 {
  margin-bottom: 5px;
  }
  
  .collaborations a p, .partnerships a p {
  font-size: 10px;
  color: #46433a;
  font-weight: normal;
  margin: 0;
  }
  
.collaborations a:hover, .partnerships a:hover {
      background: #dcdad1; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdad1', endColorstr='#c7c4b9'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#dcdad1), to(#c7c4b9)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #dcdad1,  #c7c4b9); /* for firefox 3.6+ */	
    }
    
   .collaborations a:focus, .partnerships a:focus {
   position: relative;
   bottom: -1px;
   }
   
   .social {
      text-shadow: 0 1px 0px #fff;
	padding-top: 25px;
   }
   
   .social h3, .social h3 a {
   color: #a4a29f;
   text-decoration: none;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -0.025em;
	margin: 12px 0;
   }
   
   .event {
   width: 210px;
   height: 420px;
   float: left;
   margin: 50px 8px;
   background: url("images/event-BG.jpg") no-repeat 0 0;
   position: relative;
   }
   
   a.eventthumb {
	position: relative;
	width: 170px;
	height: 140px;
		margin: 24px 21px 0 21px;

	display: block;
   }
   
   a.eventthumb span {
   position: absolute;
   top: 0;
   left: -1px;
   z-index: 1;
   background: url("images/eventframe.png") no-repeat 0 0;
	display: block;
	width: 172px;
	height: 35px;
   }

	a.eventthumb img {
	width: 170px;
	height: 140px;
	z-index: 0;
	position: relative;
	}
	
	.event h4 {
	background: #B31B1B;
	text-shadow: 0 -1px 0px #762120;
	color: #F1EEE5;
	font-size: 14px;
	padding: 8px;
	margin: 0 19px 15px 21px;
	text-align: center;
	}
	
	.event h3 {
	margin: 5px 35px 10px;
	font-size: 18px;
	line-height: 1.25;
	}
	
	.event h3 a {
	text-decoration: none;
	}
	
	.eventlocal {
	position: absolute;
	bottom: 30px;
	width: 120px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	left: 50px;
	color: #aaaaaa;
	letter-spacing: 1px;
	text-transform: uppercase;
	}
	
	.eventlocal a, .eventlocal strong{
		color: #5d5952;
	text-decoration: none;
	}
	
	p.eventtease {
	text-shadow: 0 1px 0 #FFFFFF;
	text-align: center;
	font-size: 12px;
	}
	
	.nycblog {
	background: white;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
  -moz-box-shadow: 0 2px 15px #b1afa8;
  -webkit-box-shadow: 0 2px 15px #b1afa8;
  box-shadow: 0 2px 15px #b1afa8;
  width: 345px;
  margin: -135px auto 8px;
  padding: 0 0 15px;
  position: relative;
	}
	
	.nycblog p {
	font-style: italic;
	font-size: 11px;
	color: #999;
	margin: 10px 20px 16px;
	}
	
	.nycblog h5 {
	font-size: 16px;
	margin: 10px 20px;
	}
	
	
	.nycblog h5 a {
	text-decoration: none;
	}
	
h3.facebook {
margin-bottom: 25px;
}
	
#connect .calltoaction {
    background-image: url("images/cornell-sprite.png");
    background-position: -20px -210px;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 60px;
    padding: 23px 20px 20px 160px;
}

#explore .calltoaction {
padding: 30px 35px 5px 160px;
}

a.readstory, a.comment {
position: absolute;
bottom: 6px;
text-decoration: none;
text-transform: uppercase;
font-size: 10px;
letter-spacing: 1px;
}

a.readstory {
left: 12px;
background: url("images/sprite-small.png") no-repeat 0 -5px;
display: block;
width: 100px;
padding: 4px 26px 4px ;
}

a.comment {
right: 12px;
background: url("images/sprite-small.png") no-repeat 100% -28px;
display: block;
width: 100px;
padding: 4px 33px 4px 15px;
text-align: right;
}

a.readstory:hover {
background: url("images/sprite-small.png") no-repeat 0 -55px;
color: #767368;
}

a.comment:hover {
background: url("images/sprite-small.png") no-repeat 100% -78px;
color: #767368;

}

p.credit {
text-align: center;
font-size: 10px;
text-transform: uppercase;
margin-bottom: 15px;
}

p.credit a {
color: #999;
font-weight: normal;
text-decoration: none;
}

#twitter_update_list, .morecornell {
color: #777570;
    font-size: 13px;
    font-style: italic;
    line-height: 1.5;
	padding: 5px 0;

}


.morecornell p {
margin-bottom: 7px;
}

#twitter_div {
}


a.twitterfollow {
text-decoration: none;
text-transform: uppercase;
font-size: 10px;
letter-spacing: 1px;
text-align: right;
display: block;
}

#twitter_update_list {
padding-bottom: 10px;
}

#twitter_update_list a {
font-weight: normal;
}

#twitter_update_list span + a {
display: none;
}

a.twitterfollow {
padding: 4px 33px 4px 15px;
color: #767368;
background: url("images/sprite-small.png") no-repeat 100% -132px;

}

a.twitterfollow:hover {
color: #B31B1B;
background: url("images/sprite-small.png") no-repeat 100% -106px;

}

.shadowlong {
width: 300px;
height: 79px;
margin: 0 0 -27px -35px;
}

.shadowlong.bottom {
background: url("images/shadowlong-bottom.jpg") no-repeat 50% 50%;
}

.shadowlong.top {
background: url("images/shadowlong-top.jpg") no-repeat 50% 50%;
}

.techcampusphoto {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
  -moz-box-shadow: 0 2px 15px #b1afa8;
  -webkit-box-shadow: 0 2px 15px #b1afa8;
  box-shadow: 0 2px 15px #b1afa8;
  background: url("images/skorton-google-announcement-963x510.jpg") no-repeat 50% 50%;
  height: 500px;
  margin-bottom: 25px;
  margin-top: -15px;
}

#techcampus {
  text-shadow: 0 1px 0px #FFFFFF;

}

#techcampus h5 {
font-style: italic;
font-size: 10px;
text-transform: uppercase;
letter-spacing: 1px;
}

#techcampus p.grid_6 {
font-size: 13px;
font-style: italic;
color: #5f5d59;
}

.sector {
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
  -moz-box-shadow:0 1px 0 #B9B6AA;
  -webkit-box-shadow: 0 1px 0 #B9B6AA;
  box-shadow: 0 1px 0 #B9B6AA;

    
    background: #DCDAD1; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E2DA', endColorstr='#DCDAD1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#E4E2DA), to(#DCDAD1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #E4E2DA,  #DCDAD1); /* for firefox 3.6+ */	
    
    
    border-top: 1px solid #FFFFFF;
    display: block;
    margin-bottom: 20px;
    min-height: 85px;
    outline: medium none;
    padding: 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

#techcampus .sector h5 {
font-style: normal;
margin-bottom: 0px;
padding-bottom: 7px;
border-bottom: 1px solid #bbb;
}

.sector p {
font-size: 12px;
font-style: italic;
margin: 0 0 0 0;
}

.sector h6 {
border-top: 1px solid #ffffff;
padding-top: 8px;
font-size: 13px;
/*background: url("images/sprite-small.png") no-repeat -4px -156px;
padding: 2px 3px 8px 22px;*/
font-weight: normal;
margin-bottom: 5px;
line-height: 1.35;
}

.sector h6 a {
text-decoration: none;
}

#footer {
background: #5d5952; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b7873', endColorstr='#49453e'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#7b7873), to(#49453e)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #7b7873,  #49453e); /* for firefox 3.6+ */	
height: 100px;
clear: both;
padding: 80px 0 140px;
}

#content {
 
   -moz-box-shadow: 0 0 30px #222222;
  -webkit-box-shadow: 0 0 30px #222222;
  box-shadow: 0 0 30px #222222;
    position: relative;
    z-index: 1;
    padding-bottom: 55px;
}

#footer h2 {
font-size:36px;
letter-spacing: -2px;
  display: inline;
}

#footer h2 a {
padding: 60px 0;
display: block;
width: 347px;
float: left;
}

#footer h2 a.copyright {
width: 330px;
}



#footer h2 a.slide {
background: url("images/arrowup.png") no-repeat 100% 0;
padding-right: 170px;
margin-left: 31px;
}

#footer h2 a.slide:hover {
background: url("images/arrowup.png") no-repeat 100% -170px;

}

.location {
display: none;
  position: absolute;
}

.location.visible {
}

#footer a {
color: #48453e;
text-decoration: none;
outline: none;
text-shadow: 0 1px 0px #848079;

}

#footer a:hover {
color: #848079;
text-shadow: 0 -1px 0px #48453e;

}
a.learnmore {
display: block;
padding: 8px;
height: 10px;
background: #eeede7
; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeede7', endColorstr='#d6d3c9'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#eeede7), to(#d6d3c9)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #eeede7,  #d6d3c9); /* for firefox 3.6+ */	
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border-top: 1px solid #FFF;
  -moz-box-shadow: 0 1px 0 #b9b6aa;
  -webkit-box-shadow: 0 1px 0 #b9b6aa;
  box-shadow: 0 1px 0 #b9b6aa;
  margin: 25px 0;
  text-shadow: 0 1px 0px #FFFFFF;
text-decoration: none;
text-align: center;
color: #767368;
font-size: 11px;
letter-spacing: 1px;
text-transform: uppercase;
}

a.learnmore:hover {
background: #767368
; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#767368', endColorstr='#5c5a51'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#767368), to(#5c5a51)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #767368,  #5c5a51); /* for firefox 3.6+ */
color: #F1EEE5;
border-top: 1px solid #888888;
  text-shadow: 0 -1px 0px #5c5a51;


}


#techtout {
padding-top: 120px;
}

#techtout.location h2  {
margin-bottom: 1em;
}

#fancybox-overlay {
background: #F1EEE5;
}

.popup {
background: #ffffff;
padding: 25px;
}

.popup iframe {
float: left;
margin-right: 25px;
margin-bottom: 20px;
}

.popup p {
font-size: 13px;
}

#fancybox-frame body {
margin: 25px 0;
}

.pager p {
font-size: 12px;
}

.infoslides {
position: relative;
}

.simplePagerNav {
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -20px;
}

.simplePagerNav li  {
display: inline;

}

.pager ul li {
list-style-type: disc;
font-size: 11px;
font-style: italic;
margin: 0 0 7px 20px;
line-height: 1249px;
}

.simplePagerNav li a {
display: block;
float: left;
height: 15px;
width: 15px;
background: url("images/sprite-paging.jpg") no-repeat -20px 0;
text-indent: -999em;
margin: 0px 4px 0 0;
outline: none;
}


.simplePagerNav li a:hover {
background: url("images/sprite-paging.jpg") no-repeat -20px -20px;
}


.simplePagerNav li.currentPage a {
background: url("images/sprite-paging.jpg") no-repeat 0 0;
}

img.profile {
float: left;
margin: 0 30px 15px 0;
}

a.closecircle {
position: absolute;
top: 68px;
right: -11px;
height: 30px;
width: 30px;
text-indent: -999em;
background: url("../fancybox/fancybox.png") no-repeat -40px 0;
cursor: pointer;
}

#text-box {
min-height: 100px;
height: 100%;
margin-bottom: 15px;
}

#collaborations h6 {
font-weight: bold;
font-style: italic;
text-shadow: 0 1px 0 #FFFFFF;
color: #A4A29F;
margin-left: 3px;
margin-bottom: 10px;
}

#collaborations .partnerships h6 {
margin-left: 60px;
}

#content  #collaborations {
padding-bottom: 200px;
}


#explore .calltoaction {
padding-left: 25px;
padding-top: 18px;
}

.campustocampus {
background-image: url("images/cornell-sprite.png");
background-repeat: no-repeat;
/*background-position: -41px -36px; */
background-position: -15px -423px;
padding: 9px 0 13px 181px;
}

.cornellnyc {
background-image: url("images/cornell-sprite.png");
background-repeat: no-repeat;
/*background-position: -41px -319px;*/
background-position: -15px -590px;
padding: 6px 6px 15px 85px;
}

.sector p a {
text-decoration: none;
}


#search-form a  {
text-decoration: none;
}

#techcampus p.grid_12 {
font-size: 12px;
}

.techcampusphoto h1 {
text-align: center;
color: white;
font-size: 36px;
text-shadow: 0px 0px 10px #333333;
padding-top: 125px;
}

.popup .bioleft {
float: left;
width: 400px;
margin: 0 20px 30px 0;
}

.popup h1 {
font-size: 40px;
}

.popup h2 {
font-size: 1.35em;
color: #a4a29f;
margin-bottom: 10px;
letter-spacing: -0.025em;
font-family: 'Oswald', arial, serif; text-transform: uppercase; font-weight:  normal;font-smooth:always; line-height: 1.15;
}

.biovideo h2 {
padding-left: 50px;
background: url("images/cornell-biosprite.jpg") no-repeat 0 -1px;
}

.biopersonal h2 {
padding-left: 27px;
background: url("images/cornell-biosprite.jpg") no-repeat -9px -43px;
}

.biorelated h2 {
padding-left: 45px;
background: url("images/cornell-biosprite.jpg") no-repeat -2px -83px;
}

.biochronicle h2 {
padding-left: 30px;
background: url("images/cornell-biosprite.jpg") no-repeat -6px -131px;
}

.popup .column {
width: 180px;
float: left;
margin: 10px;
}

.popup .column a {
font-weight: normal;
}

.alpha {
margin-left: 0px !important;
}

.omega {
margin-right: 0px !important;
}

.popup li {
list-style-type: disc;
margin-left: 20px;
font-size: 11px;
color: #B31B1B;
line-height: 1.5;
}

div.profile {
width: 480px;
float: right;
}

.popup hr {
clear: both;
margin-top: 10px;
border-top: 1px solid #ccc;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
background: white;
height: 1px;
width: 100%;
}

#video .grid_12 {
  height: 75px;
}

#video .left iframe {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

#video .left li {
  clear: both;
  padding-bottom: 15px;
}

#video .left li .desc {
  font-size: 13px;
  clear: both;
}

#video .left li .desc p {
  font-size: 12px;
}

#video .left li .desc img {
  float: left;
  margin: 0px 13px 13px 0px;
  height: 56px;
  width: 68px;
  -moz-box-shadow: 0 1px 5px #88867d;
  -webkit-box-shadow: 0 1px 5px #88867d;
  box-shadow: 0 1px 5px #88867d;
}

#videos_accordion {
  padding: 0px;
  margin: 0px;
}

#videos_accordion h3 {
  background-color: #e7e5df;
  width 100%;
  padding: 15px;
  border-top: 1px solid white;
  border-bottom: 1px solid #d4d4ce;
  font-size: 20px;
  outline: none;
  text-transform: upper-case;
  text-decoration: none;
  cursor: pointer;
}

#videos_accordion h3 img {
  height: 56px;
  width: 68px;
  margin-right: 15px;
}

#videos_accordion h3:first-child {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#videos_accordion h3.last.collapsed, #videos_accordion div:last-child {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#videos_accordion h3 span {
  position: relative;
  top: -18px;
}

#videos_accordion h3.accord_active, #videos_accordion div {
  background-color: #d4d4ce;
}

#videos_accordion div {
  padding: 0px 15px;
  max-height: 240px;
  overflow: auto;
}

#videos_accordion a.video {
  display: block;
}

#videos_accordion a.video h2 {
 background: url(images/cornell-videoicon.png) no-repeat 0px 0;
 padding-left: 24px;
}

#videos_accordion a.video:hover h2 {
  background: url(images/cornell-videoicon.png) no-repeat 0px -50px;
}

http://www.cornell.edu/nyc/css/reset.css

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
