
		

	<div class="grid_6 " id="whoami">
		<div>
			<iframe class="flavors" src="http://flavors.me/shaunjohn">
				</iframe>

			
						<h2><a href="georgetown.edu" target="_blank">I Bleed Hoya Blue</a></h2>
						<h4>My previous life: College athlete.</br>Football player. Defense. Hoya. </h4>
											 
		</div>
</div>
