
	<div class="container_12" id="techcampus">

	<div class="panpic">
		
	</div>
	<h5 class="grid_12 alpha omega">
	Welcome to the personal site of Shaun Johnson. Since this is a greeting from me, Shaun Johnson, welcome to my site! Here is where I make my virtual home and establish my social footprint. You can find me many places, from foursquare to Facebook and Tumblr, but if you're really looking to reach me, hit me on Twitter @idealexit. Cheers and I hope you enjoy!
	</h5>

