
<div class="container_12" id="events">


	<div class="grid_3 overview alpha">
			<h1>Career</h1>
			<p>My previous <a href="http://www.linkedin.com/in/johnsonshaun">work experiences</a> have led me to where I am today. Here's a sampling:</p>
	</div>
	
	
		<div class="grid_9 tickets omega">
			
			
			  <div class="event">
				  <a href="http://bostonstartupschool.com" target="_blank" class="eventthumb"><span></span><img src="/img/BSS_Logo_256x761.png" /></a>
				  <h4>Boston Startup School
</h4>
				  <h3><a href="http://bostonstartupschool.com" target="_blank">Edtech startup cofounder. With amazing teammates.</a></h3>
				  <div class="eventlocal"><strong>-</strong> <a href="" target="_blank"></a></div>
			  </div>
		  
			  <div class="event">
				  <a href="http://techstars.com" target="_blank" class="eventthumb"><span></span><img src="/img/TSBoston.png" /></a>
				  <h4>TechStars Boston WINTER 2012
</h4>
				  <h3><a href="http://techstars.com" target="_blank">Associate... Swiss Army Knife for seed-stage companies</a></h3>
				 			  </div>
		  
			  <div class="event">
				  <a href="http://boozallen.com" target="_blank" class="eventthumb"><span></span><img src="/img/boozallen.png" /></a>
				  <h4>Booz Allen Hamilton</h4>
				  <h3><a href="http://boozallen.com" target="_blank">Strategic Technology &amp; Innovation Management consultant</a></h3>
				 			  </div>
		  
			
			
			
	</div>
	
	
</div>




