<div style="text-align: center">
<a href="http://www.bostonstartupschool.com"><img id="badge" src="http://www.bostonstartupschool.com/_images/logo/bss_badge.png" alt="I Support Boston Startup School!"></a>
</div>

<div id="footer">
	<h2><a class="slide" href="#explore">Again? Back to the top!</a></h2><h2><a href="creativecommons.org" class="copyright">&copy; Shaun E. Johnson</a></h2>
	<br clear="all" />
</div>



<div id="socialfooter">
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://shaunjohnson.me" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<br clear="all" />
</div>

<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/idealexit.json?callback=twitterCallback2&count=1"></script>

