
<div id="content">



<div class="container_12" id="explore">
	  <div class="grid_3 overview">
			<h1>Explore</h1>
			<p>Cornell University's New York City presence spans the length and breadth of Manhattan. Use the map to investigate our urban campus and learn about what we do in the Big Apple.</p>
					 <!--  <p>We are committed to research that advances New York City's role as an economic and cultural engine for the state, the nation and the world.</p>-->
			

		  <div class="infoslides">			
				
<div id="randomexplore">
						<div id="text-box">
						<div id="text-content"></div> <!-- random text goes in  -->
						</div>
				  </div>
				</div>  
	
				<a href="#techcampus" class="slide learnmore">Follow Our Progress</a> 
		</div>
		
		
		<div class="grid_6 map">
			<div id="map">
				
					<a class="pin main weill">Weill Cornell</a>
					<a class="pin main weillgrad">Weill Graduate Cornell</a>
					<!-- <a class="pin main comm">University Communications</a> -->
					<a class="pin main alumni">Alumni</a>
					<a class="pin main club">Cornell Club</a>
					<a class="pin main cce">Cornell Cooperative Extension</a>
					<a class="pin main ilr">Cornell ILR in NYC</a>
					<a class="pin main aap">Architecture, Art and Planning</a>
					<a class="pin main fineng">Cornell Financial Engineering</a>
					

			
					 <a class="pin tech roosevelt active">Roosevelt Island</a>
					



			</div>
		</div>
		
		<div id="mapdesc" class="grid_3 omega">
		
			<div class="location visible" id="techtout" style="display:block;">
				<h2><a class="slide video" href="#techcampus">CornellNYC Tech</h2>
				<h5>Home of the Technion-Cornell Innovation Institute</h5></a></h2>
				<div class="infoslides">
					
				<p>Cornell will answer mayor's call for NYC applied science campus. </p>
		
				<a href="#video" class="slide video"><span class="videospotlight"><img src="images/1751-115x75.jpg" width="115" height="75" / ></span><h2>Watch Video</h2>
				<!--<p>Students get behind Cornell's tech campus bid</p> --><p>Cornell and the Technion prepare to submit joint proposal</p></a>
				
				<!-- <a href="#news" class="slide learnmore" target=_blank">Follow our progress</a> -->

<p><a href="quotes-all.html" class="iframe" rel="">NYC Tech Campus partnership generates excitement</a></p>

<p>"This is excellent news for New York City and for these leading universities. Cornell's and the Technion's vast research expertise ..." &ndash; Sandy Weill </p>

</div>

		  </div>
		  
		  
		  
			
			<div class="location" id="weillmed">
						<a class="closecircle">Close</a>

			  <h2><a href="http://www.med.cornell.edu/" target="_blank">The Joan and Sanford I. Weill Medical College</a></h2>
				<p class="address"><a class="thumb" href="images/large-vet.jpg"><img src="images/thumb-vet.jpg" /></a>1300 York Ave<br />New York, NY 10021<br />212 746-5454</p>
				<div class="infoslides">
				<ul class="pager">
				<li>
				<p>First completed in 1932, the 11-building medical education, research, and treatment complex covers more than six and a quarter acres over three city blocks between York Avenue and the East River. It also incorporates approximately five miles of interior corridors. Recent additions include the 20,000 square-foot Weill Education Center, the Samuel J. Wood Library and C. V. Starr Biomedical Information Center, and the 776-bed Maurice R. and Corinne P. Greenberg Pavilion for inpatients.</p></li>
				<li><p>Convenient to numerous restaurants, stores, and theatres, the campus is within walking distance of the Metropolitan Museum of Art, Central Park, Carnegie Hall, the Museum of Modern Art, the Frick Collection, The Asia Society, The Hispanic Society, and numerous art galleries. The medical college is divided into 20 academic departments. Seven focus on the sciences underlying clinical medicine, and 13 encompass the study, treatment, and prevention of human diseases, and maternity care.
				</p></li></ul>
				</div>
		  </div>
			
			
			<div class="location" id="weillgrad">
						<a class="closecircle">Close</a>

			  <h2><a href="http://weill.cornell.edu/gradschool/" target="_blank">Weill Cornell Graduate School of Medical Sciences</a></h2>
				<p class="address"><a class="thumb" href="images/large-weill.jpg"><img src="images/thumb-weill.jpg" /></a>1300 York Ave, Suite A-131<br />New York, NY 10021<br />212 746-5454</p>
				<div class="infoslides">
								<ul class="pager">
				<li><p><a href="http://weill.cornell.edu/gradschool/" target="_blank">The Weill Graduate School of Medical Sciences of Cornell University</a> was founded by the convergence of two great institutions. This unique academic partnership between Weill Cornell Medical College and Sloan-Kettering Institute was formalized in 1952 under the auspices of Cornell's Graduate School and has resulted in the creation of a faculty whose research interests span the full spectrum of biomedicine.</p></li>
				<li><p>This well-integrated faculty has had one unifying mission—to offer its students a carefully designed, research-oriented graduate program that adheres to the highest standards of graduate education. The Weill Graduate School of Medical Sciences is part of a large biomedical center extending along York Avenue between 65th and 72nd Streets on Manhattan's Upper East Side.
				</p></li></ul>
        
				</div>
		  </div>
			
			<!-- <div class="location" id="comm">
									<a class="closecircle">Close</a>

				<h2><a href="#">New York City Communications</a></h2>
				<p class="address"><a href="#"><img src="http://placehold.it/40x40" /></a>Brenda Tobias, Director<br />230 Park Avenue<br />New York, NY 10017<br />(212) 351-7662 <a href="#">email</a></p>
				<div class="infoslides">
				<ul class="pager">
				<li><p>Cornell University's New York City Communications Office was established in 2005 to enhance the university's visibility in New York City and the greater metropolitan area by increasing awareness of its many programs, events and partnerships throughout the city.</p></li></ul>
				</div>
			</div> -->
			
			<div class="location" id="alumni">
									<a class="closecircle">Close</a>

				<h2><a href="http://www.alumni.cornell.edu/about/nyc.cfm" target="_blank">Alumni Affairs and Development</a></h2>
				<p class="address"><a class="thumb" href="images/large-alumni.jpg"><img src="images/thumb-alumni.jpg" /></a>230 Park Ave<br />New York, NY 10017<br />212 351-7660</p>
				<div class="infoslides">
								<ul class="pager">
<li><p>The metro office of the Division of Alumni Affairs and Development is the gateway to alumni participation and involvement opportunities in the metropolitan New York City region. Connecting to Cornell through alumni associations, clubs, and events is quick and easy.</p></li>
            
<li><p>The office supports a broad range of Cornell activities throughout the year to ensure relevant alumni connections to Cornell. These include:<br />
&bull; community outreach ventures
<br />&bull; faculty lectures
<br />&bull; freshman welcome receptions
<br />&bull; university development projects
<br />&bull; other exciting cultural activities in the metropolitan area
</p></li></ul>
				</div>
		  </div>
			
						
			<div class="location" id="club">
									<a class="closecircle">Close</a>

			  <h2><a href="http://www.cornellclubnyc.com">Cornell Club New York</a></h2>
				<p class="address"><a class="thumb" href="images/large-club.jpg"><img src="images/thumb-club.jpg" width="40" height="40" /></a>6 E. 44th Street<br />New York, NY 10017<br />212-986-0300</p>
				<div class="infoslides">
				<ul class="pager">
				<li><p>The <a href="http://www.cornellclubnyc.com/about" target="_blank">Cornell Club-New York</a> was founded to provide members, their friends, and associates with a forum for rekindling old friendships and forging new ones, to further extend the Cornell Alumni network, and to offer members a fine facility with excellent hospitality for enjoying meals or retreating from the busy bustle of New York City.</p></li>
            	<li><p>The club has approximately 6,000 house members, including spouses, and 200 members of the Cornell University Alumni Association of New York City. A variety of programs and events are available for members and guests. The Cornell Club-New York provides an attractive setting for any occasion. It offers a choice of dining in two dining rooms, each with its own distinctive menu and ambience.
</p></li>
</ul>
				</div>
		  </div>
			
			<div class="location" id="ilr">
									<a class="closecircle">Close</a>

			  <h2><a href="http://www.ilr.cornell.edu/regionaloffices/NewYorkCity/" target="_blank">Cornell ILR in NYC</a></h2>
				<p class="address"><!--<a href="#"><img src="http://placehold.it/40x40" /></a>-->16 E. 34th Street, 6th Floor
<br />New York, NY 10016<br />
212 340-2800</p>
				<div class="infoslides">
								<ul class="pager">
<li><p>Advancing greater knowledge and expertise about the workplace through teaching, research, and outreach, Cornell University, through the ILR School, is the nation's only institution of higher education to offer undergraduate and graduate degrees in the interdisciplinary field of workplace studies.</p></li>
<li><p>Six academic departments span subject areas related to work, employment, and the workplace. They include:<br />
<br />&bull; collective bargaining, labor law, and labor history
<br />&bull; human-resource management
<br />&bull; international and comparative labor
<br />&bull; labor economics
<br />&bull; organizational behavior
<br />&bull; social statistics</p></li>
           <li> <p>At ILR's New York City headquarters, theory and practice come together through a range of outreach programs, services, and activities, where ILR expertise on workplace issues is readily accessible to organizations, managers, and practitioners; union leaders and members; lawyers; policy makers; and working adults.</p></li>
           <li><p>Programs include the Masters of Professional Studies degree, Human Capital Development Programs, including workshops and customized trainings, the Global Labor Institute, Labor and Employment Law programs, union workshops, and college credit courses. Other areas of focus include diversity/inclusion, employment and disability, and conflict resolution.
</p></li></ul>
				</div>
		  </div>
			
					<div class="location" id="cce">
											<a class="closecircle">Close</a>

				<h2><a href="http://nyc.cce.cornell.edu/Pages/home.aspx" target="_blank">Cornell Cooperative Extension in NYC</a></h2>
				<p class="address"><a class="thumb" href="images/large-cce.jpg"><img src="images/thumb-cce.jpg" /></a>183 Madison Ave.
 Suite 606
<br />New York, NY 10016
<br />212 340-2900</p>
				<div class="infoslides">
								<ul class="pager">
<li><p><a href="http://nyc.cce.cornell.edu/Pages/home.aspx" target="_blank">Cornell Cooperative Extension in New York City</a> is a research-based educational organization that adapts to the evolving needs of communities, families, and individuals by engaging them in experiential learning opportunities based in research.</p> </li>	          
				<li><p>CUCE-NYC has worked for New Yorkers since 1948 as a vital part of Cornell University’s outreach commitment and a manifestation of its status as New York's <a href="http://landgrant.cornell.edu/" target="_blank">land-grant university</a>.
</p></li></ul>
				</div>
		  </div>
			
			
			<div class="location" id="club">
									<a class="closecircle">Close</a>

			  <h2><a href="#">Cornell Club New York</a></h2>
				<p class="address"><a href="#"><img src="http://placehold.it/40x40" /></a> 6 E. 44th Street<br />New York, NY 10017<br />212-986-0300</p>
				<div class="infoslides">
								<ul class="pager">
<li><p>The Cornell Club-New York was founded to provide members, their friends, and associates with a forum for rekindling old friendships and forging new ones, to further extend the Cornell Alumni network, and to offer members a fine facility with excellent hospitality for enjoying meals or retreating from the busy bustle of New York City.</p></li></ul>
				</div>
		  </div>
			
			
				<div class="location" id="aap">
										<a class="closecircle">Close</a>

				<h2><a href="http://www.aap.cornell.edu/nyc/" target="_blank">Architecture, Art, and Planning</a></h2>
				<p class="address"><a class="thumb" href="images/large-something.jpg"><img src="images/thumb-something.jpg" /></a>50 W. 17th St. 2nd Floor<br />New York, NY 10011<br />212 497-7595</p>
				<div class="infoslides">
								<ul class="pager">
<li><p>Cornell's newest New York City location opened in the spring of 2006. Occupying loft space near Union Square in Manhattan's West Village, the <a href="http://www.aap.cornell.edu/nyc/" target="_blank">College of Architecture, Art, and Planning (AAP NYC)</a> provides a bright and expansive workspace complete with studio and seminar rooms, computing facilities, and digital and analogue shop facilities. As a global center of design, planning, and art, New York City is an ideal location for advancing the college's academic mission.</p></li>
<li>
				<p>Taking advantage of the city's remarkable talent pool, AAP NYC engages some of the most progressive and accomplished artists, architects, and planners to teach graduate and undergraduate students as they spend an entire semester in residence.</p></li><li><p>During their New York City term, public and private sector firms and agencies offer AAP students internships; students gain access to leading galleries, artist studios, museums, architecture firms, and urban sites; and, AAP NYC hosts regular lectures, exhibitions, and other events focusing on art and urban design issues. AAP NYC is a nexus of activity for Cornell alumni interested in the creative culture of the city.
           </li></ul>
</p>
				</div>
		  </div>
			
			<div class="location" id="fineng">
									<a class="closecircle">Close</a>

			  <h2><a href="http://www.orie.cornell.edu/manhattan/" target="_blank">Cornell Financial Engineering Manhattan</a></h2>
				<p class="address"><!--<a href="#"><img src="http://placehold.it/40x40" /></a>-->55 Broad Street<br />New York, NY 10004<br />212 363-2915</p>
				<div class="infoslides">
								<ul class="pager">
<li><p>Cornell Financial Engineering Manhattan fosters close working relationships between Cornell University's School of Operations Research and Information Engineering and the financial services industry by building on the highly successful financial engineering program on the Ithaca campus.</p></li>

<li><p>CFEM programs complement the theoretical education of our Master of Engineering students in <a href="http://www.orie.cornell.edu/orie/fineng/index.cfm" target="_blank">Financial Engineering</a> by providing practical understanding of the financial markets through its professional development programs and third semester curriculum. </p></li>

<li><p>CFEM offers a variety of <a href="http://www.orie.cornell.edu/orie/manhattan/career/index.cfm" target="_blank">Professional Development</a> programs specifically designed to prepare FE students for their successful careers in finance. FE students who spend their third semester at CFEM learn directly from alumni working in finance, work closely with FE project sponsors, and participate in various networking events.</p></li>

<li><p>
For further information please contact CFEM Director, Dr. Victoria Averbukh at <a href="mailto:vza1@cornell.edu">vza1@cornell.edu</a>.</p></li>

</ul>
				</div>
		  </div>
			
			
	  </div>
		
		
		
		
		
		
		
		
		<br clear="all" />
		<div class="calltoaction explore alpha">
			<div class="campustocampus grid_4">
			<h5><a href="http://www.transportation.cornell.edu/coach/" target="_ blank">Campus to Campus Bus</a></h5>
			<p>The trip between Ithaca and NYC has never been easier.</p>
			</div>
			<div class="cornellnyc grid_3">
			<h5><a href="#connect" class="slide">EssentiallyNYC</a></h5>
				<p>&nbsp;</p>
			</div>
			
		</div>
	</div>
	








<div class="container_12" id="news">
	<div class="grid_9 alpha ">
		<div class="technews"><a class="slide newslink">
		
		<h5>Get the latest updates to our proposed new campus in New York City.</h5>
		
		<!-- <h5>CornellNYC Tech News</h5><p>Get the latest updates to our proposed new campus in New York City.</p> --></a>
		<a href="http://www.news.cornell.edu/stories/June12/NYCEstrin.html" target="_blank" class="storythumb"><img src="images/deborah-estrin-125x125.jpg"  height="125" width="125" /><h2>
Deborah Estrin is first NYC tech campus faculty member</h2></a>
		</div>
		<div class="grid_3 alpha nycmedia">
			<h5>Cornell in the NYC Media</h5>
		
		
						<p>
							<a href="http://www.forbes.com/sites/alexknapp/2012/07/06/the-next-best-thing-to-being-on-mars/">The Next Best Thing To Being On Mars</a><br />
							Outlet: Forbes - Online<br /><br />It took nearly 5 months for Mars rover Opportunity to take this gorgeous panorama of the...
						</p>
					
						<p>
							<a href="http://www.msnbc.msn.com/id/48004879/ns/business-stocks_and_economy/">Analysis: Republicans vow to take Holder to court</a><br />
							Outlet: MSNBC.com<br /><br />WASHINGTON (Reuters) - Perhaps as significant as the contempt citation Congress issued to...
						</p>
					
						<p>
							<a href="http://us.vocuspr.com/ViewNewsOnDemand.aspx?ArticleID=524065_25743_57735092">Cities Consider Seizing Mortgages</a><br />
							Outlet: Wall Street Journal - Online<br /><br />...that could grow to three million mortgages as part of a $500 billion...
						</p>
					
		
		</div>
	
		<div class="grid_6 omega chronicle">
			<h5>From the <a href="http://cornell.edu/nyc/news-all.cfm" class="iframe" rel="">Chronicle</a></h5>

			
					<a href="http://www.news.cornell.edu/stories/June12/NYCAADTownH.html" target="_blank" class="chroniclethumb">
						<img src="http://www.news.cornell.edu/stories/June12/tn/DoveTN.jpg" alt="AAD sponsors town hall on CornellNYC Tech campus" />
						<h2>AAD sponsors town hall on CornellNYC Tech campus</h2>
					</a>
				
					<a href="http://www.news.cornell.edu/stories/June12/GEDI.html" target="_blank" class="chroniclethumb">
						<img src="http://www.news.cornell.edu/stories/June12/tn/CancerTN.jpg" alt="New device will advance cancer treatment" />
						<h2>New device will advance cancer treatment</h2>
					</a>
				
			
			<a href="http://www.news.cornell.edu/stories/June12/NYChockey.html" target="_blank" class="chroniclethumb">
						<img src="http://www.news.cornell.edu/stories/June12/tn/HockeyTN.jpg" alt="" />
						<h2>Men's hockey vs. Michigan Nov. 24 in NYC</h2></a>
			
		<!--  <p> Also: <a href="http://www.news.cornell.edu/stories/Sept11/NYCtechSAres.html">SA resolution supports NYC Tech Campus</a> <br />
		 
		 <a href="http://www.news.cornell.edu/stories/Oct11/NYCbotApprove.html">Trustees unanimously endorse NYC Tech Campus</a></p> -->
		</div>
		
	
	</div>

	
	<div class="grid_3 overview omega">
			<h1>News</h1>
			<p>For full coverage of the CornellNYC Tech &ndash; Home of the Technion-Cornell Innovation Institute and Cornell in NYC, visit the  <a href="http://www.pressoffice.cornell.edu/pressoffice/cms/inthenews/nycnews.cfm">Press Office archive</a>.</p>


			
		<!-- 	<p>More news is available from the <a href="http://www.pressoffice.cornell.edu/" target="_blank">Cornell Press Relations Office</a>.</p> -->
			
			
			
		</div>
		
		<br clear="all" />
		<div class="calltoaction news alpha">
			<h5>From Ezra Update</h5>
			<p><a href="http://ezramagazine.cornell.edu/SPRING12/cover1.html" target="_blank">Real work on CornellNYC Tech campus now begins</a></p>
		</div>


</div>





<div class="container_12" id="connect">

		<div class="grid_3 overview alpha">
			<h1>Connect</h1>
			
			<p><a href="http://now.cornell.edu/nyctech">CornellNYC Tech</a> is your source for the latest news and information about CornellNYC Tech.</p>
			
			<p><a href="http://groups.yahoo.com/group/big_red_bulletin/" target="_blank">Metro New York</a> join the Big Red Bulletin Board!</p>
			
			<p><a href="http://cen.cornell.edu/" target="_blank">The Cornell Entrepreneur Network</a> (CEN) is the university's alumni business network.</p>
			
				<p><a href="http://www.alumni.cornell.edu/wallstreet/" target="_blank">Cornell Wall Street</a> (CWS) is for all Cornellians who are interested in connecting with others in the financial industry.</p>
			
			
			
			
			
			
			
			
	</div>
	
	<div class="grid_6 ">
		<div class="nycblog">
			<a href="http://blogs.cornell.edu/theessentials/category/essentially-nyc/" target="_blank"><img src="images/connect-train2.jpg" width="345" height="541" alt="Cornell in NYC" /></a>
			
			
						<h5><a href="http://blogs.cornell.edu/theessentials/2012/06/25/streaming-sierra/" target="_blank">Streaming Sierra</a></h5>
						<p>Stream last month&#8217;s Carnegie Hall performance of the 4th movement of composer and Cornell music professor Roberto Sierra&#8216;s Sinfonia 4, by the Nashville Symphony. Click listen icon; go hour 2 of the broadcast; Sierra’s is the second piece.</p>
						<a href="http://blogs.cornell.edu/theessentials/2012/06/25/streaming-sierra/" class="readstory" target="_blank">Read Story</a> <a class="comment" href="http://blogs.cornell.edu/theessentials/2012/06/25/streaming-sierra/#respond" target="_blank">Comment</a>
					 
		</div>
		<p class="credit"><a href="http://www.flickr.com/photos/arturodonate/3208080823" target="_blank">Photo Credit</a></p>
  </div>
	
	<div class="grid_3 social omega">
			<h3><a href="http://www.twitter.com/Cornell" target="_blank">@Cornell</a></h3>
						<div id="twitter_div"><ul id="twitter_update_list"></ul>				<a class="twitterfollow" href="http://www.twitter.com/Cornell" target="_blank">Follow us on Twitter</a></div>	

			<div class="shadowlong top">&nbsp;</div>
			<h3 class="facebook"><a href="https://www.facebook.com/CornellUniv" target="_blank">We're On Facebook</a></h3>
			<iframe src="http://www.facebook.com/plugins/like.php?app_id=122456331170026&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCornellUniv%2F210963242267467&amp;send=false&amp;layout=standard&amp;width=280&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=55" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height:55px;" allowTransparency="true"></iframe>
			<div class="shadowlong bottom">&nbsp;</div>

			<h3>More Cornell in NYC</h3>
			<div class="morecornell">
			<p><a href="https://plus.google.com/u/0/b/116871314286286422580/116871314286286422580/posts" target="_blank">Google+</a> - Cornell on Google's social media hub.</p>
			
			<p><a href="https://www.youtube.com/user/CornellUniversity" target="_blank">YouTube</a> - Cornell's official channel.</p>
			
			
			
			
			
			</div>
	</div>
	
	
	
	
	
	
	
</div>






<div class="container_12" id="video">
	<div class="grid_12 alpha omega">
    
	</div>
	
	<div class="grid_8 left">
		<iframe width="560" height="315" src="http://www.youtube.com/embed/videoseries?list=PL071A6FC11E66723A&amp;hl=en_US&amp;wmode=opaque" frameborder="0" allowfullscreen></iframe>
        <!--<iframe width="560" height="315" src="http://www.youtube.com/embed/5VjtmYtNNic" frameborder="0" allowfullscreen></iframe>-->
        <!--<iframe width="560" height="349" src="http://www.youtube.com/embed/G1Kgom2bOfo?rel=0&modestbranding=1&wmode=opaque" frameborder="0" allowfullscreen></iframe>-->
		<div class="grid_4 alpha">
			<ul>
				<li>
					<div class="desc">
					  <img src="http://www.cornell.edu/nyc/images/carolyn-96x80.jpg" />
					  <a href="video/carolyn-supports-tech-campus.html" class="video">Carolyn supports the NYC Tech Campus!</a>
						<p>Near Eastern Studies major Carolyn Witte '12</p>
					</div>
				</li>
				<li>
					<div class="desc">
						<img src="http://www.cornell.edu/img/video/thumbs/1652.jpg" />
						<a href="video/cen-startup-stories.html" class="video">CEN Startup Stories: The Good, Bad and Ugly</a>
						<p>Cornell entrepreneurs discuss challenges and lessons learned</p>
					</div>
				</li>
				<li>
					<div class="desc">
						<img src="http://www.cornell.edu/img/video/thumbs/1622.jpg" />
						<a href="video/alvin-ailey-dance.html" class="video">Cornell and Alvin Ailey Dance celebrate cultural visionaries</a>
						<p>Skorton and  Jamison discuss legacies of Alvin Ailey and Ezra Cornell</p>
					</div>
				</li>
			</ul>
	  </div>
		<div class="grid_4 omega">
			<ul>
				<li>
					<div class="desc">
					  <img src="http://www.cornell.edu/img/video/thumbs/1738.jpg" />
						<a href="video/trustee-endorsement.html" class="video">Trustees unanimously endorse Cornell's NYC Tech Campus</a>
						<p>Interview with David Skorton and board members following the Oct. 12 vote
						</p>
					</div>
				</li>
				<li>
					<div class="desc">
						<img src="http://www.cornell.edu/img/video/thumbs/1032.jpg" />
						<a href="video/alicia-reid.html" class="video">Alicia Reid on cardiovascular research at Weill Cornell</a>
						<p>Reid is a postdoc studying myocardial ischemia</p>
					</div>
				</li>
                <li>
					<div class="desc">
						<img src="http://www.cornell.edu/img/video/thumbs/858.jpg" />
						<a href="video/inside-bed-bugs.html" class="video">Cornell bed bug expert urges creation of task force</a>
						<p>Jody Gangloff-Kaufmann discusses work of NYC's Bed Bug Advisory Board</p>
					</div>
				</li>
				
			</ul>
		</div>
  </div>
	
	<div class="grid_4">
		<!--<h1>Video</h1>-->
        <div id="videos_accordion">
			
			<h3><img src="http://www.cornell.edu/img/video/thumbs/1163.jpg" /><span>Cornell in NYC</span></h3>
			<div>
				<ul>
					<li>
						<a href="video/ptr-aly-nadworny.html" class="video"><h2>Aly Nadworny participates in Ithaca-NYC Linkage Program</h2>
						<p></p></a>
					</li>
					<li>
					<a href="video/cen-startup-stories.html" class="video"><h2>CEN NYC | Startup Stories: The Good, Bad & Ugly</h2></a><p></p></li>
					
                    <li><a href="video/alvin-ailey-dance.html" class="video"><h2>Cornell and Alvin Ailey Dance celebrate cultural visionaries
				    </h2><p></p>
					  </a>
				  </li>
                    
                    <li>
						<a href="video/sy-katz-parade.html" class="video"><h2>Sy Katz '31 Parade</h2>
						<p></p></a>
					</li>
                    
                    <li>
						<a href="video/ptr-katie-kasabalis.html" class="video"><h2>Katie Kasabalis studies architecture in NYC</h2>
						<p></p></a>
					</li>
					<!--<li>
						<a href="video-skorton.html" class="video"><h2>Sam Keller goes from chemistry lab to Lincoln Center stage</h2>
						<p></p></a>
					</li>-->
			
				</ul>
			</div>
			<h3><img src="http://www.cornell.edu/img/video/thumbs/1665.jpg" /><span>Inside Cornell</span></h3>
			<div>
				<ul>
					<li>
						<a href="video/inside-fabric-science.html" class="video">
						<h2>The future of fabric science and fashion</h2>
						<p></p></a>
					</li>
					<li>
<a href="video/inside-amazon-reviewers.html" class="video"><h2>The secret world of Amazon.com reviewers</h2>
						<p></p></a>
					</li>
					<li>
<a href="video/inside-great-whales.html" class="video"><h2>The great whales return to New York Harbor</h2>
						<p></p></a>
					</li>
					<li>
<a href="video/inside-ancestry-project.html" class="video"><h2>Ancestry project maps DNA paths of student origins</h2>
						<p></p></a>
					</li>
					<li>
					  <a href="video/inside-veterinary-science.html" class="video">
	          <h2>Cornell vets demo cutting-edge companion animal care</h2>
						<p></p></a>
					</li>
					<!--<li>
						<a href="video-skorton.html" class="video"><h2>Myths and realities facing gay teens</h2>
						<p></p></a>
					</li>-->
					<li>
						<a href="video/inside-bed-bugs.html" class="video"><h2>Bed bug expert urges creation of task force</h2>
						<p></p></a>
					</li>
					
				</ul>
			</div>
			<h3><img src="http://www.cornell.edu/img/video/thumbs/nyc-tech-campus.jpg" /><span>CornellNYC Tech</span></h3>
			<div>
				<ul>
					<!--<li>
						<a href="video/trustee-support.html" class="video"><h2>Trustees voice support for CornellNYC Tech Campus</h2>
						<p></p></a>
					</li> -->
                     
                    <li>
						<a href="video/20111026-press-conf.html" class="video"><h2>Oct. 26 press conference: Cornell and the Technion prepare to submit joint proposal</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/hinestroza1.html" class="video"><h2>Interdisciplinary collaborations ignite research and innovation at Cornell</h2>
						<p></p></a>
					</li>
                    
      <li>
						<a href="video/hancock1.html" class="video"><h2>Emerging opportunities in social media management</h2>
						<p></p></a>
					</li>
                    
                     <li>
						<a href="video/weiss2.html" class="video"><h2>Networking in NYC: There is power in Cornell numbers</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/jaquette2.html" class="video"><h2>Inspiring entrepreneurship: The Cornell model</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/jaquette1.html" class="video">
						<h2>Cornell faculty is a wellspring for business ideas</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/amy-supports-tech-campus.html" class="video"><h2>Amy supports the NYC Tech Campus!</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/weiss1.html" class="video"><h2>Real world, real work: Cornellians eager to grow with NYC businesses</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/hancock2.html" class="video"><h2>NYC is where social media has most transformative effect</h2>
						<p></p></a>
					</li>
                     <li>
						<a href="video/weiss3.html" class="video"><h2>Energy, can-do attitude sets Cornell students apart</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/weiss4.html" class="video"><h2>Success in entrepreneurship takes a team</h2>
						<p></p></a>
					</li>
                   
                   
                    <li>
						<a href="video/carolyn-supports-tech-campus.html" class="video"><h2>Carolyn supports the NYC Tech Campus!</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/jaquette4.html" class="video"><h2>NYC is a magnet for young Cornell entrepreneurs</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/jaquette3.html" class="video"><h2>Cornell invests in the entrepreneurs of the future</h2>
						<p></p></a>
					</li>
                    
                    <li>
						<a href="video/trustee-endorsement.html" class="video"><h2>Trustees unanimously endorse Cornell's NYC Tech Campus</h2>
						<p></p></a>
				  </li>
                  <li>
						<a href="video/trustee-support.html" class="video"><h2>Trustees show their support for Cornell's Tech Campus bid</h2>
						<p></p></a>
			    </li>
                    <li>
						<a href="video/nyctech-explained.html" class="video"><h2>NYC Tech Campus explained</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/nyctech-homecoming.html" class="video"><h2>Homecoming crowd cheers Cornell's tech campus bid</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/students-support-nyctech.html" class="video"><h2>Cornell + NYC</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video-skorton.html" class="video"><h2>CornellNYC Tech Campus: President David J. Skorton</h2>
						<p></p></a>
					</li>
					
				
				
				</ul>
			</div>
			<!--<h3><img src="http://www.cornell.edu/img/video/thumbs/958.jpg" /><span>Interviews</span></h3>
			<div>
				<ul>
					<li>
						<a href="video-skorton.html" class="video"><h2>Kent Fuchs</h2>
						<p>Provost</p></a>
					</li>
                    
                    <li>
						<a href="video-skorton.html" class="video"><h2>Dan Huttenlocher</h2>
						<p>Dean, Computing and Information Science</p></a>
					</li>
					
					<li>
						<a href="video-skorton.html" class="video"><h2>Lance Collins</h2>
						<p>Dean, Engineering</p></a>
					</li>
					
				</ul>
			</div>-->
			
            <h3><img src="http://www.cornell.edu/img/video/thumbs/1750.jpg" /><span>Cornell Research</span></h3>
			<div>
				<ul>
					<li>
						<a href="video/bonassar-cartilage.html" class="video">
						<h2>3D printer and living "ink" create cartilage</h2>
						<p></p></a>
					</li>
                    <li>
						<a href="video/cctec.html" class="video">
						<h2>Cornell innovations mean business at CCTEC</h2>
						<p></p></a>
					</li>
              <li>
						<a href="video/universal-gripper.html" class="video">
						<h2>Universal robotic gripper</h2>
						<p></p></a>
					</li>
					<li>
<a href="video/applied-math.html" class="video"><h2>Applied mathematics at Cornell</h2>
						<p></p></a>
					</li>
					<li>
<a href="video/alicia-reid.html" class="video"><h2>Alicia Reid on cardiovascular research at Weill Cornell</h2>
						<p></p></a>
					</li>
					<li>
<a href="video/robot-learning.html" class="video"><h2>Robot Learning exhibition</h2>
						<p></p></a>
					</li>
					<li>
					  <a href="video/michal-lipson-photonics.html" class="video">
	          <h2>Photonics pioneer Michal Lipson wins 'Genius Award'</h2>
						<p></p></a>
					</li>
					<!--<li>
						<a href="video-skorton.html" class="video"><h2>Cellulosic fuel for dummies with Larry Walker</h2>
						<p></p></a>
					</li>
					<li>
						<a href="video/inside-bed-bugs.html" class="video"><h2>BJ Casey studies the biological basis of learning</h2>
						<p></p></a>
					</li>-->
					
				</ul>
			</div>
		</div>
	</div>
	<span style="clear:both"></span>
</div>



	
	<!-- <p class="grid_6 omega">
We are committed to research that advances New York City's role as an economic and cultural engine for the state, the nation and the world.<br /> &nbsp;<br />Click on a profile below for more information.</p> -->


	<div class="grid_4 alpha">
	
	<!-- 1 -->
	
	<div class="sector">
		<h5>Tech Campus News</h5>
	
	     <h6><a href="http://www.cornell.edu/nyc/#news">More about CornellNYC Tech &ndash; Home of the Technion-Cornell Innovation Institute</a></h6>
		</div>
		
		
		
		
		
		
		</div>
	
		<div class="grid_4 ">
		<!-- 2 -->
		
		<div class="sector">
			<h5>Tech Campus Video</h5>
	     	<h6><a href="http://www.cornell.edu/nyc/#video">Clips from across Cornell</a></h6>
			</div>
			
				</div>
				
				<div class="grid_4 ">
		<!-- 3 -->
		
		<div class="sector">
			<h5>Tech Campus FAQ</h5>
	     	<h6><a href="http://www.news.cornell.edu/features/TechCampusFAQ.html">Frequently asked questions about CornellNYC Tech &ndash; Home of the Technion-Cornell Innovation Institute</a></h6>
			</div>
			
				</div>
				
		<p class="grid_12 alpha omega">
	Cornell University is a leader in research and innovation that matters to New York City. From sustainable building design to Weill Cornell Medical Center's top ranked clinical and medical research, the ideas that sprout at Cornell take root in many of the industries that form the core of NYC's world class economy. With our leading edge research, history of innovation, commitment to New York, and deep roots in every aspect of NYC's tech ecosystem, combined with the Technion's recognized world leadership in technology commercialization, The NYC Tech Campus is poised to foster a new tech center for a new century in NYC.
	</p>
	
	
	
			<div class="grid_4 alpha">

		
		<!-- 4 -->
		<div class="sector">
		<h5>The Campus</h5>
	     <h6><a href="campus.html" class="iframe" rel="">A NYC-centric model</a></h6>
		</div>
		
		<!-- 7 -->
		<div class="sector">
		<h5>Research that Matters to NYC</h5>
	     <h6><a href="research.html" class="iframe" rel="">Learn about our featured faculty</a></h6>
		</div>
		
		
	</div>
	
		<div class="grid_4 ">
	
				
			<!-- 5 -->	
			<div class="sector">
		<h5>Our Partner</h5>

	     <h6><a href="http://www1.technion.ac.il/en" class="iframe" rel="">The Technion: A world leader in technology commercialization</a></h6>
			</div>	
			
			<!-- 8 -->
			<div class="sector">
			<h5>Entrepreneurship@Cornell</h5>
	     	<h6><a href="entrepreneurship.html" class="iframe" rel="">A culture of entrepreneurship & innovation</a></h6>
			</div>
		</div>
	
	
	
	<div class="grid_4 omega">
		
		
		<!-- 6 -->
		<div class="sector">
		
		<h5>Jobs at Cornell </h5>
		<h6><a href="https://www.hr.cornell.edu/jobs/" class="iframe" rel="">Career opportunities at the NYC tech campus</a></h6>
		<!-- <h5>Expressions of Support</h5>
	     <h6><a href="support.html" class="iframe" rel="">Endorsements from across the Cornell community</a></h6> -->
	     
	     		</div>
<!-- 9 -->
		
<div class="sector">
				<h5>Sustainability</h5>
	   			  <h6><a href="sustainability.html" class="iframe" rel="">A living laboratory</h6></a>
				</div>
		
	</div> 
	


			
</div>


	
	
	
	



<div class="container_12" id="collaborations">

			<div class="grid_4 collaborations alpha">
				<h6>Collaborations</h6>
				<a href="http://www.citra.org/wordpress/" target="_blank" >
				<h5>Cornell Institute for Translational Research on Aging</h5>
				<p>Researchers on aging make inquiry relevant, cultivating close ties with human service practitioners.
</p>
				</a>

				<a href="http://www.ilr.cornell.edu/law/" taqrget="_blank" >
				<h5>Labor and Employment Law</h5>
				<p>Experts provide essential multi-disciplinary perspectives and resources for employers and lawyers.
</p>
				</a>
				
				<a href="http://www.birds.cornell.edu/celebration/?utm_source=aab&utm_medium=banner&utm_campaign=CrossPromoteAAB_CUB_20100201" target="_blank">
				<h5>Celebrate Urban Birds</h5>
				<p>Citizen scientists watch birds and share data with Cornell researchers.
</p>
				</a>
				
				<a href="http://intercampusaffairs.cornell.edu/" target="_blank">
				<h5>Ithaca Campus and Weill Cornell Medical College</h5>
				<p>Intercampus and interdisciplinary partnerships hold the potential for dramatic medical and scientific discoveries.
</p>
				</a>
				
				<a href="http://www.vet.cornell.edu/news/articles/wcs.htm" target="_blank" >
				<h5>Veterinary College and Bronx Zoo</h5>
				<p>Students gain hands-on experience in wildlife medicine and pathology.
</p>
				</a>
			</div>

			<div class="grid_4 overview ">
			<h1>Working Together</h1>
			<p>Cornell faculty, students and alumni study and work across the NYC metro area. We partner with local communities and organizations, from the Bronx to Queens, on programs for the benefit of the people of New York.
			</p>
			</div>
			
			<div class="grid_4 partnerships omega">
							<h6>Partnerships</h6>

				<a href="http://www.human.cornell.edu/academics/urban-semester/index.cfm" target="_blank" >
				<h5>Urban Semester</h5>
				<p>Students learn, grow, and give back.
</p>
				</a>

				<a href="http://www.johnson.cornell.edu/Academic-Programs/Executive-MBA/Cornell-Queens-Executive-MBA.aspx" target="_blank" >
				<h5>Cornell Queen's Executive MBA in NYC</h5>
				<p>World-class faculty teach working executives and managers.
</p>
				</a>
				
				<a href="http://www.92y.org/" target="_blank" >
				<h5>92nd St. Y</h5>
				<p>Cornell speakers and events are regularly held at the 92Y.</p>
				</a>
				
				<a href="http://www.nypl.org/" target="_blank" >
				<h5>New York Public Library</h5>
				<p>A unique partnership of over 77 programs to educate and benefit New York City residents.</p>
				</a>
				
			

			</div>

		
		
</div>


<br clear="all" />

</div>


