<h1>About Shaun</h1>
<section id="why" class="container">



  <div class="row">
    <div class="column"><div class="column_content">
      <h2>Where I'm From</h2>
      <ol>
        <li>Born in Cali [LONG BEACH]</li>
        <li>Raised in Jersey (North &raquo; GSP 136 &raquo; NJT 13A)</li>
        <li>Lived circa a Decade in DMV &#123;DC, MD, VA&#125;</li>
        <li>Working on my best Bostonian accent</li>
      </ol>
    </div></div>

    <div class="column"><div class="column_content">
      <h2 class="padding-bottom">Bio - Excerpted</h2>
<ol>
<li>
Shaun Johnson is a technologist, early adopter and helper of people. He has advised companies in various spaces across the emerging technology landscape, including smart grid energy, healthcare IT, broadband infrastructure &amp; alternative assets. Shaun holds a B.A. in computer science &amp; sociology from Georgetown University and an M.S. in information systems from The Johns Hopkins University. Still a lover of sexy consumer web products, Shaun has helped numerous startups with product roadmapping, getting off the ground and taking market share.</li>
</ol>      
   </div></div>

  </div>



</section>
