<!DOCTYPE html>
<html>
<head>
<title>The Personal Site of Shaun Johnson</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

 <link rel="stylesheet" href="css/bin/grid.css">
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>


<!-- Insert Analytics scripts here (GA and/or Mixpanel) -->


</body>
</html>
